body {
    background: #0d0d0d;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #ff0033;
    box-shadow: 0 0 25px #ff0033;
    animation: pulse 1.6 ease-in-out infinite;
    position: relative;
}

.circle.glitch {
    transform: scale(1.1) skewX(3deg);
    box-shadow: 0 0 40px #ff0033;
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.12);}
    100% { transform: scale(1);}
}
